In [1]:
import paises

In [2]:
paises.PAISES_POR_CONTINENTE

[['Africa', 'Algeria'],
 ['Africa', 'Angola'],
 ['Africa', 'Benin'],
 ['Africa', 'Botswana'],
 ['Africa', 'Burkina Faso'],
 ['Africa', 'Burundi'],
 ['Africa', 'Cameroon'],
 ['Africa', 'Cape Verde'],
 ['Africa', 'The Central African Republic'],
 ['Africa', 'Chad'],
 ['Africa', 'The Comoros'],
 ['Africa', "Cote d'Ivoire"],
 ['Africa', 'The Democratic Republic of the Congo'],
 ['Africa', 'Djibouti'],
 ['Africa', 'Egypt'],
 ['Africa', 'Equatorial Guinea'],
 ['Africa', 'Eritrea'],
 ['Africa', 'Ethiopia'],
 ['Africa', 'Gabon'],
 ['Africa', 'The Gambia'],
 ['Africa', 'Ghana'],
 ['Africa', 'Guinea'],
 ['Africa', 'Guinea-Bissau'],
 ['Africa', 'Kenya'],
 ['Africa', 'Lesotho'],
 ['Africa', 'Liberia'],
 ['Africa', 'Libya'],
 ['Africa', 'Madagascar'],
 ['Africa', 'Malawi'],
 ['Africa', 'Mali'],
 ['Africa', 'Mauritania'],
 ['Africa', 'Mauritius'],
 ['Africa', 'Morocco'],
 ['Africa', 'Mozambique'],
 ['Africa', 'Namibia'],
 ['Africa', 'Niger'],
 ['Africa', 'Nigeria'],
 ['Africa', 'The Republic of the Congo'],
 ['Africa', 'Rwanda'],
 ['Africa', 'Sao Tome and Principe'],
 ['Africa', 'Senegal'],
 ['Africa', 'The Seychelles'],
 ['Africa', 'Sierra Leone'],
 ['Africa', 'Somalia'],
 ['Africa', 'South Africa'],
 ['Africa', 'South'],
 ['Africa', 'South Sudan'],
 ['Africa', 'Sudan'],
 ['Africa', 'Swaziland'],
 ['Africa', 'Tanzania'],
 ['Africa', 'Togo'],
 ['Africa', 'Tunisia'],
 ['Africa', 'Uganda'],
 ['Africa', 'Western Sahara'],
 ['Africa', 'Zambia'],
 ['Africa', 'Zimbabwe'],
 ['Asia', 'Afghanistan'],
 ['Asia', 'Armenia'],
 ['Asia', 'Azerbaijan'],
 ['Asia', 'Bahrain'],
 ['Asia', 'Bangladesh'],
 ['Asia', 'Bhutan'],
 ['Asia', 'Brunei'],
 ['Asia', 'Cambodia'],
 ['Asia', 'Cyprus'],
 ['Asia', 'East Timor'],
 ['Asia', 'Egypt'],
 ['Asia', 'Georgia'],
 ['Asia', 'India'],
 ['Asia', 'Indonesia'],
 ['Asia', 'Iran'],
 ['Asia', 'Iraq'],
 ['Asia', 'Israel'],
 ['Asia', 'Japan'],
 ['Asia', 'Jordan'],
 ['Asia', 'Kazakhstan'],
 ['Asia', 'Kuwait'],
 ['Asia', 'Kyrgyzstan'],
 ['Asia', 'Laos'],
 ['Asia', 'Lebanon'],
 ['Asia', 'Malaysia'],
 ['Asia', 'Maldives'],
 ['Asia', 'Mongolia'],
 ['Asia', 'Myanmar'],
 ['Asia', 'Nepal'],
 ['Asia', 'North Korea'],
 ['Asia', 'Oman'],
 ['Asia', 'Pakistan'],
 ['Asia', 'China'],
 ['Asia', 'Taiwan'],
 ['Asia', 'Philippines'],
 ['Asia', 'Qatar'],
 ['Asia', 'The Republic of China'],
 ['Asia', 'Hong'],
 ['Asia', 'Russia'],
 ['Asia', 'Saudi Arabia'],
 ['Asia', 'Singapore'],
 ['Asia', 'South Korea'],
 ['Asia', 'Sri Lanka'],
 ['Asia', 'Syria'],
 ['Asia', 'Tajikistan'],
 ['Asia', 'Thailand'],
 ['Asia', 'Turkey'],
 ['Asia', 'Turkmenistan'],
 ['Asia', 'The United Arab Emirates'],
 ['Asia', 'Uzbekistan'],
 ['Asia', 'Vietnam'],
 ['Asia', 'Yemen'],
 ['Europe', 'Albania'],
 ['Europe', 'Yugoslavia'],
 ['Europe', 'Andorra'],
 ['Europe', 'Austria'],
 ['Europe', 'Belarus'],
 ['Europe', 'Belgium'],
 ['Europe', 'Bosnia and Herzegovina'],
 ['Europe', 'Bulgaria'],
 ['Europe', 'Croatia'],
 ['Europe', 'The Czech Republic'],
 ['Europe', 'Denmark'],
 ['Europe', 'Estonia'],
 ['Europe', 'Finland'],
 ['Europe', 'France'],
 ['Europe', 'Germany'],
 ['Europe', 'Greece'],
 ['Europe', 'Hungary'],
 ['Europe', 'Iceland'],
 ['Europe', 'Ireland'],
 ['Europe', 'Italy'],
 ['Europe', 'Kosovo'],
 ['Europe', 'Latvia'],
 ['Europe', 'Liechtenstein'],
 ['Europe', 'Lithuania'],
 ['Europe', 'Luxembourg'],
 ['Europe', 'Macedonia'],
 ['Europe', 'Malta'],
 ['Europe', 'Moldova'],
 ['Europe', 'Monaco'],
 ['Europe', 'Montenegro'],
 ['Europe', 'Holand-Netherlands'],
 ['Europe', 'Norway'],
 ['Europe', 'Poland'],
 ['Europe', 'Portugal'],
 ['Europe', 'Romania'],
 ['Europe', 'Russia'],
 ['Europe', 'San Marino'],
 ['Europe', 'Serbia'],
 ['Europe', 'Slovakia'],
 ['Europe', 'Slovenia'],
 ['Europe', 'Spain'],
 ['Europe', 'Sweden'],
 ['Europe', 'Switzerland'],
 ['Europe', 'Turkey'],
 ['Europe', 'Ukraine'],
 ['Europe', 'The United Kingdom'],
 ['Europe', 'Scotland'],
 ['Europe', 'England'],
 ['Europe', 'The Vatican City'],
 ['North America', 'Antigua and Barbuda'],
 ['North America', 'The Bahamas'],
 ['North America', 'Barbados'],
 ['North America', 'Belize'],
 ['North America', 'Canada'],
 ['North America', 'Costa Rica'],
 ['North America', 'Cuba'],
 ['North America', 'Dominica'],
 ['North America', 'Dominican-Republic'],
 ['North America', 'El-Salvador'],
 ['North America', 'Grenada'],
 ['North America', 'Guatemala'],
 ['North America', 'Haiti'],
 ['North America', 'Honduras'],
 ['North America', 'Jamaica'],
 ['North America', 'Mexico'],
 ['North America', 'Nicaragua'],
 ['North America', 'Panama'],
 ['North America', 'Saint Kitts and Nevis'],
 ['North America', 'Saint Lucia'],
 ['North America', 'Saint Vincent and the Grenadines'],
 ['North America', 'Trinadad&Tobago'],
 ['North America', 'United-States'],
 ['North America', 'Outlying-US(Guam-USVI-etc)'],
 ['North America', 'Puerto-Rico'],
 ['Oceania', 'Australia'],
 ['Oceania', 'Cook Islands'],
 ['Oceania', 'East Timor'],
 ['Oceania', 'Fiji'],
 ['Oceania', 'Indonesia'],
 ['Oceania', 'Kiribati'],
 ['Oceania', 'The Marshall Islands'],
 ['Oceania', 'Micronesia'],
 ['Oceania', 'Nauru'],
 ['Oceania', 'New Zealand'],
 ['Oceania', 'Niue'],
 ['Oceania', 'Palau'],
 ['Oceania', 'Papua New Guinea'],
 ['Oceania', 'Samoa'],
 ['Oceania', 'The Solomon Islands'],
 ['Oceania', 'Tonga'],
 ['Oceania', 'Tuvalu'],
 ['Oceania', 'Vanuatu'],
 ['South America', 'Argentina'],
 ['South America', 'Bolivia'],
 ['South America', 'Brazil'],
 ['South America', 'Chile'],
 ['South America', 'Colombia'],
 ['South America', 'Columbia'],
 ['South America', 'Ecuador'],
 ['South America', 'Guyana'],
 ['South America', 'Paraguay'],
 ['South America', 'Peru'],
 ['South America', 'Suriname'],
 ['South America', 'Trinidad and Tobago'],
 ['South America', 'Uruguay'],
 ['South America', 'Venezuela']]

In [3]:
import pandas as pd

In [4]:
adults = pd.read_csv('adult.data', header=None, engine="python", sep=", ")
adults.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
countries = pd.DataFrame(paises.PAISES_POR_CONTINENTE, columns=['continentes','nome'])
countries.head()

  continentes          nome
0      Africa       Algeria
1      Africa        Angola
2      Africa         Benin
3      Africa      Botswana
4      Africa  Burkina Faso

In [6]:
paises1 = adults[13].unique()
paises1

array(['United-States', 'Cuba', 'Jamaica', 'India', '?', 'Mexico',
       'South', 'Puerto-Rico', 'Honduras', 'England', 'Canada', 'Germany',
       'Iran', 'Philippines', 'Italy', 'Poland', 'Columbia', 'Cambodia',
       'Thailand', 'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal',
       'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala',
       'China', 'Japan', 'Yugoslavia', 'Peru',
       'Outlying-US(Guam-USVI-etc)', 'Scotland', 'Trinadad&Tobago',
       'Greece', 'Nicaragua', 'Vietnam', 'Hong', 'Ireland', 'Hungary',
       'Holand-Netherlands'], dtype=object)

In [7]:
paises2 = countries['nome'].unique()
paises2

array(['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso',
       'Burundi', 'Cameroon', 'Cape Verde',
       'The Central African Republic', 'Chad', 'The Comoros',
       "Cote d'Ivoire", 'The Democratic Republic of the Congo',
       'Djibouti', 'Egypt', 'Equatorial Guinea', 'Eritrea', 'Ethiopia',
       'Gabon', 'The Gambia', 'Ghana', 'Guinea', 'Guinea-Bissau', 'Kenya',
       'Lesotho', 'Liberia', 'Libya', 'Madagascar', 'Malawi', 'Mali',
       'Mauritania', 'Mauritius', 'Morocco', 'Mozambique', 'Namibia',
       'Niger', 'Nigeria', 'The Republic of the Congo', 'Rwanda',
       'Sao Tome and Principe', 'Senegal', 'The Seychelles',
       'Sierra Leone', 'Somalia', 'South Africa', 'South', 'South Sudan',
       'Sudan', 'Swaziland', 'Tanzania', 'Togo', 'Tunisia', 'Uganda',
       'Western Sahara', 'Zambia', 'Zimbabwe', 'Afghanistan', 'Armenia',
       'Azerbaijan', 'Bahrain', 'Bangladesh', 'Bhutan', 'Brunei',
       'Cambodia', 'Cyprus', 'East Timor', 'Georgia', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Israel', 'Japan', 'Jordan',
       'Kazakhstan', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Lebanon',
       'Malaysia', 'Maldives', 'Mongolia', 'Myanmar', 'Nepal',
       'North Korea', 'Oman', 'Pakistan', 'China', 'Taiwan',
       'Philippines', 'Qatar', 'The Republic of China', 'Hong', 'Russia',
       'Saudi Arabia', 'Singapore', 'South Korea', 'Sri Lanka', 'Syria',
       'Tajikistan', 'Thailand', 'Turkey', 'Turkmenistan',
       'The United Arab Emirates', 'Uzbekistan', 'Vietnam', 'Yemen',
       'Albania', 'Yugoslavia', 'Andorra', 'Austria', 'Belarus',
       'Belgium', 'Bosnia and Herzegovina', 'Bulgaria', 'Croatia',
       'The Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France',
       'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Italy',
       'Kosovo', 'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Macedonia', 'Malta', 'Moldova', 'Monaco', 'Montenegro',
       'Holand-Netherlands', 'Norway', 'Poland', 'Portugal', 'Romania',
       'San Marino', 'Serbia', 'Slovakia', 'Slovenia', 'Spain', 'Sweden',
       'Switzerland', 'Ukraine', 'The United Kingdom', 'Scotland',
       'England', 'The Vatican City', 'Antigua and Barbuda',
       'The Bahamas', 'Barbados', 'Belize', 'Canada', 'Costa Rica',
       'Cuba', 'Dominica', 'Dominican-Republic', 'El-Salvador', 'Grenada',
       'Guatemala', 'Haiti', 'Honduras', 'Jamaica', 'Mexico', 'Nicaragua',
       'Panama', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Trinadad&Tobago',
       'United-States', 'Outlying-US(Guam-USVI-etc)', 'Puerto-Rico',
       'Australia', 'Cook Islands', 'Fiji', 'Kiribati',
       'The Marshall Islands', 'Micronesia', 'Nauru', 'New Zealand',
       'Niue', 'Palau', 'Papua New Guinea', 'Samoa',
       'The Solomon Islands', 'Tonga', 'Tuvalu', 'Vanuatu', 'Argentina',
       'Bolivia', 'Brazil', 'Chile', 'Colombia', 'Columbia', 'Ecuador',
       'Guyana', 'Paraguay', 'Peru', 'Suriname', 'Trinidad and Tobago',
       'Uruguay', 'Venezuela'], dtype=object)

In [8]:
set(paises1) - set(paises2)

{'?'}

In [9]:
set(paises1) - set(paises2)

{'?'}

In [10]:
set(paises1) - set(paises2)

{'?'}

In [11]:
adults = adults.merge(countries, left_on=13, right_on='nome')
adults.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,continentes,nome
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,North America,United-States
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,North America,United-States
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,North America,United-States
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,North America,United-States
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K,North America,United-States

In [19]:
chaves = ['continentes', '<=50K	']
adults[chaves].groupby('continentes').sum().head()
#agrupa os dados

KeyError: u"None of [Index([u'continentes', u'<=50K\\t'], dtype='object')] are in the [columns]"

In [ ]:
adults['>=50k'] = adults[14] == '>=50k'
adults['<=50k'] = adults[14] == '>50k'
adults.head()

In [16]:
from sklearn import svm
clf = svm.SVC(gamma='scale')
clf.fit(adults[[0,2]], adults[14])

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [22]:
adults_tests = pd.read_csv('adult.test', header=None, engine="python", sep=", ")

In [20]:
clf.score(adults_tests[[0,2]], adults_tests[14])

KeyError: '[2] not in index'